.services{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.submited-btn{
   background-color: rgba(10, 37, 88, 0.952);
   color: white;
   border-radius: 4px;
   border: none;
}
.submited-btn:hover{
    background-color: rgba(10, 37, 88, 0.877);
}